<%- include('header'); -%>

<main>
    <div class="container">
        <h1>
            <%= message %>
        </h1>
        <p>
            Failed to find the resource you are looking for:
        </p>
        <pre><%= url %></pre>
    </div>
</main>

<%- include('footer'); -%>