<%- include('header'); -%>

    <div class="container-fluid">
        <!-- breadcrumb -->
        <div class="m-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
        <!-- end of breadcrumb -->
        <!-- about us -->
        <div class="container-fluid text-dark p-3 text-center">
            <div class="mb-4">
                <h1 class="pt-5">About Us</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>Laboriosam inventore atque quisquam
                    in
                    eaautem, dignissimos voluptatem modi asperiores!<br>Cumque quasi perferendis necessitatibus
                    perspiciatis iure odit repudiandae. Culpa, cumque alias!</p>
            </div>
            <div class="contact-info">
                <h2>Contact Information</h2>
                <p>Phone: +886 908 032 183 </p>
                <p>Address: No. 3-1, Lane 373, Dehe Road, Yonghe District, New Taipei City 234, Taiwan</p>
                <p>Business Hours: Monday - Saturday: 11 AM - 9 PM</p>
                <p>Sunday: Closed</p>
            </div>
            <div class="map">
                <h2>Find Us Here!</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.013540890401!2d121.52198474011139!3d24.999655839765243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9551e3d11c7%3A0xd2580f68f46dee54!2z55SY6ZyW5ra86bq16IiWIOawuOWSjOW6lw!5e0!3m2!1szh-TW!2sau!4v1744278017277!5m2!1szh-TW!2sau"
                    width="960" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>


    <%- include('footer'); -%>