<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <!-- header navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand fw-bolder" href="/" style="color: #4c9a88;">
                    <img src="/images/logo.png" alt="Timely Noodle">Timely Noodle</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fw-bolder" aria-current="page"
                                href="https://www.ubereats.com/tw/store/%E7%94%98%E9%9C%96%E6%B9%AF%E7%83%8F%E9%BE%8D-%E6%B0%B8%E5%92%8C%E5%BA%97/aBK0xoxTWLSZiubsH5D15g?diningMode=PICKUP&utm_campaign=CM2508147-search-free-nonbrand-google-pas_e_all_acq_Global&utm_medium=search-free-nonbrand&utm_source=google-pas"
                                target="_blank">ORDER NOW!!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">MENU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <% if (loggedIn) { %>
                            <a href="/logout" class="btn btn-outline-dark ms-2">Logout</a>
                            <% } else { %>
                                <a href="/login" class="btn btn-outline-dark ms-2">Login</a>
                                <% } %>

                    </div>
                </div>
            </div>
        </nav>
        <!-- end of header navbar -->

    </header>