<%- include('header'); -%>

    <!-- MENU -->
    <div class="container-fluid">
        <!-- breadcrumb -->
        <div class="m-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Menu</li>
                </ol>
            </nav>
        </div>
        <!-- end of breadcrumb -->
        <div class="container text-dark p-3 text-center" style="max-width: 960px;">
            <div class="mb-4">
                <h1 class="pt-5">MENU</h1>
                <p>Our cold noodles come in various flavors, and most importantly, they include our sincerity.</p>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="card mt-5 position-relative" style="width: 18rem;">
                    <img src="/images/04.jpg" class="card-img-top" alt="Sesame cold noodles">
                    <div class="card-body">
                      <h5 class="card-title">Sesame cold noodles</h5>
                      <p class="card-text">Our classic chilled noodle with sesame sauce.</p>
                    </div>
                    <!-- Invisible link overlay -->
                    <a href="/product/sesame" class="stretched-link"></a>
                </div>
                
                <div class="card mt-5 position-relative" style="width: 18rem;">
                    <img src="/images/01.jpg" class="card-img-top" alt="Sesame chicken cold noodles">
                    <div class="card-body">
                        <h5 class="card-title">Sesame chicken cold noodles</h5>
                        <p class="card-text">Chicken version with sesame sauce and more flavor.</p>
                    </div>
                    <!-- Invisible link overlay -->
                    <a href="/product/chicken" class="stretched-link"></a>
                </div>

                <div class="card mt-5 position-relative" style="width: 18rem;">
                    <img src="/images/07.jpg" class="card-img-top" alt="Miso soup">
                    <div class="card-body">
                        <h5 class="card-title">Miso soup</h5>
                        <p class="card-text">Traditional Japanese miso soup.</p>
                    </div>
                    <!-- Invisible link overlay -->
                    <a href="/product/miso-soup" class="stretched-link"></a>
                </div>

                <div class="card mt-5 position-relative" style="width: 18rem;">
                    <img src="/images/02.jpg" class="card-img-top" alt="Pork udon">
                    <div class="card-body">
                        <h5 class="card-title">Pork udon</h5>
                        <p class="card-text">Hot udon noodles with pork.</p>
                    </div>
                    <!-- Invisible link overlay -->
                    <a href="/product/pork-udon" class="stretched-link"></a>
                </div>

                <div class="card mt-5 position-relative" style="width: 18rem;">
                    <img src="/images/05.jpg" class="card-img-top" alt="Chicken udon">
                    <div class="card-body">
                        <h5 class="card-title">Chicken udon</h5>
                        <p class="card-text">Hot udon noodles with chicken.</p>
                    </div>
                    <!-- Invisible link overlay -->
                    <a href="/product/chicken-udon" class="stretched-link"></a>
                </div>

                <div class="card mt-5 position-relative" style="width: 18rem;">
                    <img src="/images/06.jpg" class="card-img-top" alt="Black tea">
                    <div class="card-body">
                        <h5 class="card-title">Black tea</h5>
                        <p class="card-text">Traditional black tea.</p>
                    </div>
                    <!-- Invisible link overlay -->
                    <a href="/product/black-tea" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="mt-4 p-3">
            <a href="https://www.ubereats.com/tw/store/%E7%94%98%E9%9C%96%E6%B9%AF%E7%83%8F%E9%BE%8D-%E6%B0%B8%E5%92%8C%E5%BA%97/aBK0xoxTWLSZiubsH5D15g?diningMode=PICKUP&utm_campaign=CM2508147-search-free-nonbrand-google-pas_e_all_acq_Global&utm_medium=search-free-nonbrand&utm_source=google-pas"
                target="_blank" class="btn order_btn">ORDER NOW!!</a>
        </div>
        <!-- end of MENU -->

<%- include('footer'); -%>